
* {
    box-sizing: border-box;
}
#fall {
    max-width: 800px;
    width: 100%;
}

.res {
    font-size: 2em;
}

.scaling-txt {
    font-size: 7vw;
}

@media only screen and (max-width: 768px) {    
    .res {
        font-size: 1.5em;
    }

    .scaling-txt {
        display: none;
        /* margin-left: 5000px;
        visibility: hidden; */
    }
}
